 



h1,h2,h3,h4,h5,h6,a,span, form, button, input, table, canvas, div,footer, p, ul, ol, li {
	font-family: 'Roboto', sans-serif;
	
}



h1 {
	font-size: 26px;
}

h2 {
	font-size: 20px;
}

h3{
	font-size: 16px
}

h4{
	font-size: 12px;
}

.container {
	width: 960px;
}




@media only screen and (max-width: 990px) {
	.container {
	width: 100%;
}
}

/* HEADER HOME*/

#headerImage{ 
  background: url(../img/bg_homepage.jpg) no-repeat center bottom fixed; 

  height:600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerImage2 {
	height: 450px;
	background-color: #350047;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerImageAbout {
	height: 450px;
	background: url(../img/bg_about.jpg) no-repeat center bottom fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.headerNav {
	/*padding-top: 150px;*/
	padding: 150px 80px 0px 20px;
	/*padding: 100px 80px 0px 20px;*/
	text-align: center;
	color: #fff;
}

.logo {
	position: relative;
	/*top: 50px;
	left: 44%;*/
	margin-top: -80px;
	margin-bottom: -40px;
}

.logo img {
	/*width: 110px;*/	
}

a, a:hover, a:active {
	color: inherit;
	text-decoration: none;

}


.navi a,.navi a:visited {
    color: #fff;
	text-shadow: 0.5px 0.5px #919191;


}

.navi a:hover,.navi a:active {
   color: #fff ;
	text-shadow: 0.5px 0.5px #919191;



}

.navi a {
    color: #fff ;
}

/*Journal20Fit!*/


.startContent {
	text-align: center;
	padding-top: 50px;
	text-shadow: 0.5px 0.5px #919191;

}

.startContent button {
	margin-top: 40px;

	background: none;
	background-color: purple;
	color: #fff;
	box-shadow: none;
	border: none;
	text-shadow: none;

	padding-left: 20px;
	padding-right: 20px;

}

.startContent h2, .startContent h3, .startContent h4 {
	text-shadow: 0.5px 0.5px #919191;

}
.startContent h3 {
	font-weight: 300;
}

.startContent h4 {
	margin-top: 40px;
}


/*login hover*/
.loginPop {
	width: 0;
	height: auto	;
	background-color: #fff;
	position: absolute;
	left: -150px;
	/*opacity: 0;*/
	color: #000;

}

.loginPop {
	display: none;
	height: auto;
	width: 300px;
	padding: 50px 40px 30px 40px;
	margin-top: 20px;
}

.loginPop form .form-group input {
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-align: center;
	border-bottom: 1px solid #919191;
}

.loginPop form button, .loginPop form a.btn {
	padding-left: 30px;
	padding-right: 30px;
	background: none;
	background-color: purple;
	color: #fff;
	text-shadow: none;
	margin-top: 20px;
}

.loginPop form h5 {
	padding-top: 20px;
	line-height: 150%;
}

@media only screen and (max-width: 990px){
	.loginPop {
		position: relative;
		left: 25%;

		width: 50%;
	}
	.loginPop form button, .loginPop form a.btn {
		padding-left: 10%;
		padding-right: 10%;
	}

}









/*CONTENT HOME*/

/*Content1*/

.Content1 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;

}

.Content1 h2 {
	padding-bottom: 20px;
}

.Content1 h3 {
	font-weight: 100;
	padding-left: 100px;
	padding-right: 100px;
}
.Content1 p {
	font-weight: 300;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}

.Content1 h4 {
	/*padding-top: 40px;*/
}

.stories {
	padding-top: 40px;
	/*text-align: center;*/
}

.stories div img {
	text-align: center;

}


/*content2*/

.Content2 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}
.Content2 div h2{
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.Content2 div .ContentBox {
	/*border: 1px solid purple;*/
	text-align: left;
	vertical-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

.ContentBox h3 {
	/*text-align: center;*/
vertical-align: middle;
}

.icons img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

/*Content 3*/

.Content3 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}

.Content3 .grid div {
	text-align: center;
}

.Content3 .grid {
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.Content3 h2 {
	padding-bottom: 40px;
}

.Content3 img {
	width: 100%;	
}

.Content3 .row {
	padding-top: 10px;
	text-align: center;
}

.Content3 .row div {
	padding-left: 5px;
	padding-right: 5px;
}


/*Footer Hompages*/

.footerNav {
	padding: 20px 0px 10px 0px; 
	
}

footer {
	background-color: purple;
	color: #fff;
	height: 120px;
}

footer .copyright h6, footer .copyright a {
	font-weight: 300;
}

.copyright {
	padding-top: 25px;
}

.footerNav .sosmed {
	text-align: right;
}



.sosmed {
	text-align: right;
}

.sosmed img {
	width: 18px;
	height: 18px;
	margin-left: 10px;


}




/*Invest Pages*/

#headerInvest{ 
  background: url(../img/bg_investpage.jpg) no-repeat center bottom fixed; 

  height:500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.investStart {
	text-align: left;
	padding: 70px 10px 10px 10px;
}
.investStart button{
	background: none;
	background-color: purple;

	text-shadow:none;
	color: #fff;



}

.investStart h2 {
	line-height: 30px;
}

.investStart button {
	margin-bottom: 20px;
	background-color: purple;
}

.investStart button:focus{
	outline: none;
	background: none;
	background-color: purple;
	color: #fff;

}


.loginPop2 {
	display: none;
	width: 250px;
	background-color: #fff;
	padding: 20px 20px 30px 20px;
	border: 1px solid #919191;
}

.loginPop2 form div.form-group input{
	border: none;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #919191;
	text-align: center;
}

.loginPop2 form button, .loginPop2 form a.btn {
	background: none;
	text-shadow: none;
	color: #fff;
	width: 100%;
	border-radius: 0;
	background-color: purple;

}

.loginPop2 form button:hover, .loginPop2 form a.btn:hover {
	background-color: #f0f0f0;
	color: purple;
	border: 1px solid purple;
}



/*Invest Pages Content*/
.investCont1, .investCont2, .investCont3, .investCont4 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.investCont1 .graph, .investCont2 .graph {

}

.investCont1 h4, .investCont2 h4 {
	line-height: 150%;
}

.investCont3 {
	text-align: center;
}

.investCont3>h2 {

}

.investCont3>h4 {
	padding-bottom: 50px;

}

.investCont4 {
	text-align: center;
}

.investCont4>h2 {
	padding-bottom: 50px;
}

.investCont4 .info3 img {
	width: 50px;
	height: auto;
}

.investCont4 .left {
	text-align: right;
}

.investCont4 .right {
	text-align: left;
	padding-top: 10px;
}

.investCont4 .right h2 {
	font-weight: 700;
}

.info3 .right h2 {
	margin-top: 0px
}

.info3 img {
	margin-bottom: 20px;
}

.info4 .donut h3 {
	margin-top: 0px;
}

.info4 div.donut {
	width: 35%;
}

/*HEADER SIMPLE*/


.headerSimple {
	width: 100%;
	height: 60px;
	background-color: purple;
	text-align: center;
}

.headerSimple img {
	width: 45px;
	height: auto;
	padding-top: 6px;
}

.formRegister {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	padding-top: 70px;
}

.formRegister form .form-group input {
	text-align: center;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #919191;
	font-weight: 200;
	font-size: 12px;


}

.formRegister h6  {
	color: #919191;
	margin-top: 20px;
	margin-bottom: 20px;
}

.formRegister button, .formRegister a.btn{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: purple;
	text-shadow: none;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: 20px;
}

.formRegister textarea {
	border: none;
	border-radius: 0px;
	vertical-align: bottom;
	text-align: center;
	box-shadow: none;
	border-bottom: 1px solid #919191;
	font-size: 12px;
	font-weight: 200;	


}

.formRegister select.form-control,
.formRegister select.form-control option {
	    -webkit-appearance:none;
	    border: none;
	    border-radius: 0;
	    border-bottom: 1px solid #919191;
	    box-shadow: none;
	    margin-bottom: 10px;
	    font-size: 12px;
	    font-weight: 300;
	    text-align: center;
	    padding-left: 28%;

}

.formRegister .checkbox {
	text-align: left;
	font-size: 12px;
	color: #919191;
}

/*Header User*/
.headerUser {
	text-align: center;

}

.userNav {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #919191;
	font-size: 12px;
	margin-right: 0px;
}

.userNav2 {
	text-align: center;
	font-size: 14px;

	padding: 10px 100px 10px 100px;

}

.userNav .right {
	text-align: right;
}

.userNav .left {
	text-align: left;
}

.userNav2 .right{
	border-right: 1px solid #919191;

}

.active a {
	font-weight: 700;
	color: purple;
}

.stepNav {
	text-align: center;
}

.stepNav ul li {
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

/*user data*/

.data1 {
	text-align: center;
	margin-top: 20px;
	background-color: #f1f1f1;
	padding: 50px 0px;
	/*font-size: 24px;*/
	/*font-weight: 200;*/
	/*color: #fff;*/
}

.data1 h1 {
	font-weight: 100;
}

.data2 {
	text-align: center;
	background-color: #f1f1f1;
	


}

.data2 .progress {
	background-image: linear-gradient(to bottom, #b6e5fd 0%, #d2eefc 100%);
}

.data4 {
	/*border: 1px solid #919191;*/
}

.data4 div .infoBox {
	/*border: 1px solid #919191;*/
	margin-top: 20px;
	padding: 0px 20px;
	padding-top: 20px;
	height: 220px; 
	text-align: center;
}

.data4 .infoBox h5.bottom {
	padding-top: 20px;
	padding-bottom: 10px;
}

.data6{
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 50px;



}
.data6 .table {
	/*width: 50%;*/
	margin-top: 20px;
}

tr .summary {
	font-weight: 700;
}

/*Browse Table*/

.browseData {
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.browseData .filter, .browseData  {
	text-align: left;
	padding: 20px 20px 20px 20px;
	height: 200px;
	/*border: 1px solid #919191;*/
}

.browseData .filter {
	border: 1px solid #919191;
	padding-top: 0px;
	margin-top: 20px;
}

.browseTable {
	border-radius: 10px;
	font-size: 10px;
	font-weight: 400;
	padding: 20px 20px 20px 20px;

	height: auto;


}

.browseTable thead {
	border-bottom: 1px solid purple;
	border-color: purple;
	background-color: #f3d3ff;
}


.table-striped tbody>tr:nth-child(even){
	background-color: #faedff;
}

.browseTable table tbody tr>td.checkIt {
	text-align: center;
}

/*FILTER*/

.filter h3 {
	padding-bottom: 10px;
	font-weight: 700;
}

.filter button {
	border: none;
}

.tableNav {
	font-size: 12px;
	padding: 20px 20px 20px 20px;

}

.tableNav .pagination {
	margin-top: 0px;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: purple;
	border-color: #919191;
}

.pagination>li>a, .pagination>li>span {
	color: purple;
}


/*PORFOLIO*/

.chartData {
	text-align: center;
}

.chartData div.col-md-6 {
	margin-top: 20px;
}

.chartData div.col-md-6 h3 {
	padding-bottom: 20px;
}

.chartData #canvas-holder {


	text-align: center;
	width: 200px;
	margin-right: auto;
	margin-left: auto;

}
.doughnut-legend  {
	text-align: center;
	padding-top: 30px;
}

.doughnut-legend ul li {
	display: inline-block;
	text-decoration: none;
	list-style:none;
	margin-left:10px;

}

.doughnut-legend li h6 {
	float: left;
	padding-left: 10px;
}

.doughnut-legend li span {
	display: block;
	border-radius: 5px;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.historyData h2 {
	text-align: center;
}

td.money {
	text-align: right;
}

td.center, th.center {
	text-align: center;
	vertical-align: middle;
}

/*BORROWER DETAIL*/

.navBack {
	text-align: right;
}

.navBack button.back {

	margin-top: 20px; 
	margin-bottom: 20px;
	background-color: #fff;
	color: purple;
	border: 1px solid purple;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
}

.navBack button.addItem {
	background-color: purple;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
	color: #fff;
	border: none;
}

.photoProfile {
	text-align: center;
}

.namaBorrower {
	text-align: center;
}

.chartPerData ul li {
	list-style: none;
}

.chartPerData {
	padding: 20px;
	/*border: 1px solid purple;*/
}

div.photoBox {
	
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

.circliful {
	margin-left: auto;
	margin-right: auto;

}


/*ONFIRMATION PAGES*/

.confirmPage .alert {
	margin: 20px;
}



.confirmPage .browseTable {
	font-size: 12px;
}

td button.delete {
	float: none;
}

.borderless td, .borderless th {
    border: none;
}

.confirmPage .browseTable tbody td {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #faedff;
}

.confirmPage .browseTable tbody tr td:first-child, 
.confirmPage .browseTable thead tr th:first-child {
	padding-left: 20px;
}

.confirmPage .browseTable tbody tr td {
	vertical-align: middle;
}

.confirmButton {
	text-align: right;
	padding-right: 20px;
}
.confirmButton button {
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	background-color: purple;
}

.confirmButton button:hover {
	background-color: #fff;
	color: purple;
	border: 1px solid purple;
}

a.dropdown-toggle:focus	 {
	color: purple;
}

/*MARKET PERFOMANCE*/

.chartDataGraph, .chartDataBar {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 20px;
}

.chartDataGraph div canvas, .chartDataBar div canvas {
	padding: 20px 30px 20px 10px;
}


div.donut {
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

/*FLAG LANGUAGE*/

.flag img {
	width: 20px;
	height: auto;
	float: right;
	margin-left: 10px;
	vertical-align: text-bottom;
}



/*STORIES*/

.stories {
	text-align: center;
	
}

.storiesImage, .storiesImage2, .storiesImage3,
.storiesImage4, .storiesImage5, .storiesImage6 {

}

.storiesImage img, .storiesImage2 img, .storiesImage3 img,
.storiesImage4 img, .storiesImage5 img, .storiesImage6 img {
	/*display: block;*/
	width: 100%;
	height: auto;
	position: relative;
	border-radius: 5px;


}

.storiesImage h2,.storiesImage2 h2,.storiesImage3 h2,
.storiesImage4 h2,.storiesImage5 h2,.storiesImage6 h2 {
	position: absolute; 
	top: 40%;
   left: 0; 
   width: 100%;
   color: #202020;
   opacity: 0;
   font-weight: 700;

}

.storiesImage h5, .storiesImage2 h5, .storiesImage3 h5,
.storiesImage4 h5, .storiesImage5 h5, .storiesImage6 h5 {
	position: absolute;
	bottom: 10%;
	left: 0;
	width: 100%;
	color: #202020;
	opacity: 0;
}

.stories div.row {
	padding-top: 25px;
}

div.storiesImage:hover h2, div.storiesImage:hover h5,
div.storiesImage2:hover h2, div.storiesImage2:hover h5,
div.storiesImage3:hover h2, div.storiesImage3:hover h5,
div.storiesImage4:hover h2, div.storiesImage4:hover h5,
div.storiesImage5:hover h2, div.storiesImage5:hover h5,
div.storiesImage6:hover h2, div.storiesImage6:hover h5 {
	opacity: 1;
}

div.storiesImage:hover img, 
div.storiesImage2:hover img, 
div.storiesImage3:hover img, 
div.storiesImage4:hover img, 
div.storiesImage5:hover img, 
div.storiesImage6:hover img {
	opacity: 0.2;
}

.detailStory div {
	padding: 20px;
}

.storyContent {
	text-align: justify;
	font-size: 11pt;
	font-weight: 300;
}




/*ABOUT*/

.about_WhoWeAre {
	padding: 20px;
}




div.dropdown:hover .dropdown-menu {
    display: block;

}









