 /* BEGIN Extrabold Italic */
/*@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans/Light/OpenSans-Light.eot'),url('../fonts/opensans/Light/OpenSans-Light.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('../fonts/opensans/Bold/OpenSans-Bold.eot'),url('../fonts/opensans/Light/OpenSans-Light.ttf');
  font-weight: 700;
}*/
/* END Extrabold Italic */
/*------------------------------------------------------------------
[6. Typography]
*/
/* Standard elements
--------------------------------------------------
*/
/* To Load Hinted Fonts for Windows */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: 	
		url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Just Me' ;
	src: url('../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere.ttf') format('truetype');
}

@font-face {
	font-family: 'Marck' ;
	src: url('../fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Merienda' ;
	src: url('../fonts/Merienda/Merienda-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Qwigley' ;
	src: url('../fonts/Qwigley/Qwigley-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Sacramento' ;
	src: url('../fonts/Sacramento/Sacramento-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Into Light' ;
	src: url('../fonts/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf') format('truetype');
}





.opensans{
	font-family:'Open Sans';
}

.shadowNavi{font-weight:700;text-shadow:0.1px 1px 1px #000; }

.shadowTitle{
	letter-spacing: 0.5px;
	font-weight:700;
	text-shadow:1px 1px 0.1px #181818; 
}

.opensansBold {
	/*font-family: 'Open Sans Bold';*/
	font-weight: 800;
}
.montserrat{
	font-family:'Montserrat';
}
.no-margin{
	margin:0;
}
.fs-14{
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-22 {
	font-size: 22px;
}

h1,h2,h3,h4,h5,h6, span, form, button, input, table, canvas, div, p, ul, ol, li {
	font-family: 'Open Sans', sans-serif;
	
}

/*CUSTOM FONT*/
.justMe {
	font-family: 'Just Me' ;
	
}

.marck {
	font-family: 'Marck' ;
}

.merienda {
	font-family: 'Merienda' ;

}

.qwigley {
	font-family: 'Qwigley' ;
	letter-spacing: .05em;
}

.sacramento {
	font-family: 'Sacramento' ;
}

.intoLight {
	font-family: 'Into Light' ;
}

.bold {
	font-weight: 700;
}


h1 {
	font-size: 26px;
}

h2 {
	font-size: 20px;
}

h3{
	font-size: 16px
}

h4{
	font-size: 12px;
}

.container {
	width: 960px;
}

.p-t-100{ 
	padding-top: 100px;
}
.p-b-100{ 
	padding-bottom: 100px;
}
.p-t-50{ 
	padding-top: 50px;
}
.p-t-20 {
	padding-top: 20px;
}

.p-t-10 {
	padding-top: 10px;
}
.p-b-50{ 
	padding-bottom: 50px;
}
.m-t-15{
	margin-top: 15px;
}
.m-b-15{
	margin-bottom: 15px;
}
.p-b-30{
	padding-bottom: 30px;
}
.p-t-30{
	padding-top: 30px;
}
.block-title{
	text-transform: uppercase;
	letter-spacing: 2px;
}
.text-white{
	color: #fff;
}
.bg-light{
	background: #f5f5f5;
}
.purple{
	color: #48154a;
}
.hoverglow:hover{
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #f5f5f5;
}
.btn-purple{
	background: #48154a;
	border: none;
	color: #fff;
	padding: 5px 10px;
}
.btn-purple:hover{
	background: #604490;
	border: none;
	color: #fff;
	padding: 5px 10px;
}

.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}

@media only screen and (max-width: 990px) {
	.container {
	width: 100%;
}
}

/* HEADER HOME*/


#headerImage{ 
  background: url(../img/bg_homepage.jpg) no-repeat center bottom fixed; 
  height:450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerImage2 {
	height: 450px;
	background-color: #350047;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#headerImageAbout{
	background: url(../img/bg_about.jpg) no-repeat center bottom fixed;	
	background-size: cover;
}
#headerImageImpact {
	background: url(../img/bg_impact.jpg) no-repeat center bottom fixed;
}

#headerImageInvest {
	background: url(../img/bg_invest.jpg) no-repeat center bottom fixed;
}

/*#headerImagePayment {
	background: url(../img/bg_payment.jpg) no-repeat center bottom fixed;
}*/

#headerContact{
	background: url(../img/bg_contact.jpg) no-repeat center bottom;
}

#headerImageBorrow{
	background: url(../img/bg_borrow.jpg) no-repeat center bottom fixed;
}

#headerImagePartners{
	background: url(../img/bg_partners.jpg) no-repeat center bottom fixed;
}
#headerGradient{
	min-height: 150px;
	background: transparent url(../img/linear_gradient.png) repeat-x 0 bottom;
}
#headerImageAbout, #headerImageImpact ,#headerImageInvest, #headerContact, 
#headerImageCareer, #headerImageBorrow, #headerImagePartners
{
	width: auto;
	height: 450px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}




#headerImageCareer{
	height: 450px;
	background: #48154a url(../img/bg_career.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

#headerImagePayment{
	height: 600px;
	background-size: cover;
	background: #48154a url(../img/bg_payment.jpg) no-repeat center center;
}
.headerNav {
	/*padding-top: 150px;*/
	padding: 100px 30px 0px 20px;
	/*padding: 100px 80px 0px 20px;*/
	text-align: center;
	color: #fff;
}

/*header images story*/

#headerImageStoryHealthy {
	height: 600px;
	background: #48154a url(../img/bg_story_healthy.jpg) no-repeat center bottom fixed;
	background-size: cover;

}

#headerImageStoryGlasses {
	height: 600px;
	background: #48154a url(../img/bg_story_glasses.jpg) no-repeat center bottom fixed;
	background-size: cover;

}

#headerImageStoryTooth {
	height: 600px;
	background: #48154a url(../img/story_tooth_header.jpg) no-repeat center bottom fixed;
	background-size: cover;

}

#headerImageStoryGroceries {
	height: 600px;
	background: #48154a url(../img/bg_story_sembako.jpg) no-repeat center bottom fixed;
	background-size: cover;

}

#headerImageStoryTalkshow {
	height: 600px;
	background: #48154a url(../img/bg_story_talkshow.jpg) no-repeat center bottom fixed;
	background-size: cover;

}

#headerImageStoryVote {
	height: 600px;
	background: #48154a url(../img/story_vote_header.jpg) no-repeat center top fixed;
	background-size: cover;

}

#headerImageStoryFinancial {
	height: 600px;
	background: #48154a url(../img/bg_story_financial.jpg) no-repeat center top fixed;
	background-size: cover;

}

#headerImageStoryDuck {
	height: 600px;
	background: #48154a url(../img/story_duck_header.jpg) no-repeat center top fixed;
	background-size: cover;

}

#headerImageStoryIed {
	height: 600px;
	background: #48154a url(../img/story_ied_header.jpg) no-repeat center top fixed;
	background-size: cover;

}



/*STORY DETAIL*/

.story_short h1 {
	font-size: 80px;
	text-shadow: 1px 1px 5px #181818;
	margin-top: 80px;

}

.story_long h1 {
	font-size: 80px;
	text-shadow: 1px 1px 5px #181818;
	margin-top: 40px;
}

.logo {
	position: relative;
	/*top: 50px;
	left: 20%;*/
	margin-top: -90px;
	margin-bottom: -20px;
}

.logo img {
	/*width: 110px;*/	
}

a, a:hover, a:active {
	color: inherit;
	text-decoration: none;

}


.navi a,.navi a:visited {
    color: #fff;
	font-family: 'Montserrat','Open Sans','Roboto', 'Helvetica Neue','Helvetica','Arial',sans-serif;

}

.navi a:hover,.navi a:active,.navi a.active {
   color: #fff ;
   border-bottom: 2px solid #fff;
}

.navi a {
    color: #fff ;
}


.sub{
text-align: left;
padding-top: 60px;


}

.startContent {
	text-align: center;
	padding-top: 60px;
	text-shadow: 0.5px 0.5px #919191;
	z-index:10;
}

.startContent button, .startContent .button_main {
	margin-top: 40px;

	background: none;
	background-color: #48154a;
	color: #fff;
	box-shadow: none;
	border: none;
	text-shadow: none;

	padding: 10px 20px;
	border-radius: 5px;

}

.startContent h2, .startContent h3, .startContent h4 {
	text-shadow: none;
	font-weight: normal;
}
.startContent h2 {
	font-size: 25px;
	font-weight: normal;	
	font-family: 'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
}
.startContent h3 {
	font-weight: 300;
	line-height: 125%;
}

.startContent h4 {
	margin-top: 40px;
}


/*login hover*/
.loginPop {
	width: 0;
	height: auto	;
	background-color: #fff;
	position: absolute;
	left: -150px;
	/*opacity: 0;*/
	color: #000;

}

.loginPop {
	display: none;
	height: auto;
	width: 300px;
	padding: 50px 40px 30px 40px;
	margin-top: 20px;
}

.loginPop form .form-group input {
	border: none;
	border-radius: 0;
	box-shadow: none;
	text-align: center;
	border-bottom: 1px solid #919191;
}

.loginPop form button, .loginPop form a.btn {
	padding-left: 30px;
	padding-right: 30px;
	background: none;
	background-color: #48154a;
	color: #fff;
	text-shadow: none;
	margin-top: 20px;
}

.loginPop form h5 {
	padding-top: 20px;
	line-height: 150%;
}

@media only screen and (max-width: 990px){
	.loginPop {
		position: relative;
		left: 5%;

		width: 90%;
	}
	.loginPop form button, .loginPop form a.btn {
		padding-left: 10%;
		padding-right: 10%;
	}

}









/*CONTENT HOME*/

.methodList {
		padding-top: 20px;
		text-align: center;
	}

	.methodList img {
		width: 100%;
	}

	.methodList p{
		/*display: inine;*/
		/*font-size: 20px;*/
		text-align: left;
	}

	.methodTitle h1 {
		font-weight: 700;
		padding-top: 20px;
	}

	.methodButton {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 20px;
	}

	.methodButton button {
		background: none;
		background-color: #48154a;
		box-shadow: none;
		border: none;
		border-radius: 5px;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		padding: 5px 30px;
	}

/*Content1*/

.Content1 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 100px;
	font-size: 16px;
	line-height: 150%;
	color: #666;
}

.Content1 h2 {
	font-size: 28px;
	padding-bottom: 20px;
}

.Content1 h3 {
	font-weight: 100;
	padding-left: 100px;
	padding-right: 100px;
}
.Content1 p {
	font-weight: 300;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}

.Content1 h4 {
	/*padding-top: 40px;*/
}

.stories2 {
	padding-top: 40px;
	/*text-align: center;*/
}

.stories2 div img {
	text-align: center;

}

/*content2*/

.Content2 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}
.Content2 div h2{
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.Content2 div .ContentBox {
	/*border: 1px solid #48154a;*/
	text-align: left;
	vertical-align: center;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

.ContentBox h3 {
	/*text-align: center;*/
vertical-align: middle;
}

.icons img{
	display: block;
    margin-left: auto;
    margin-right: auto
}

/*Content 3*/

.Content3 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}

.Content3 .grid div {
	text-align: center;
}

.Content3 .grid {
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.Content3 h2 {
	padding-bottom: 40px;
}

.Content3 img {
	width: 100%;	
}

.Content3 .row {
	padding-top: 10px;
	text-align: center;
}

.Content3 .row div {
	padding-left: 5px;
	padding-right: 5px;
}


/*Footer Hompages*/

.footerNav {
	padding: 20px 0px 10px 0px; 
	
}

footer {
	background-color: #48154a;
	color: #fff;
	height: 120px;
}
footer a:hover{
	border-bottom: 2px solid #fff;
}

footer .copyright h6, footer .copyright a {
	font-weight: 300;
}

.copyright {
	padding-top: 25px;
	padding-bottom: 25px;
}




.sosmed {
	text-align: right;
	margin-bottom: 20px;
}

.sosmed img {
	width: 25px;
	height: 25px;
	margin-left: 10px;


}




/*Invest Pages*/

#headerInvest{ 
  background: url(../img/bg_investpage.jpg) no-repeat center bottom fixed; 

  height:500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.investStart {
	text-align: left;
	padding: 70px 10px 10px 10px;
}
.investStart button{
	background: none;
	background-color: #48154a;

	text-shadow:none;
	color: #fff;



}

.investStart h2 {
	line-height: 30px;
}

.investStart button {
	margin-bottom: 20px;
	background-color: #48154a;
}

.investStart button:focus{
	outline: none;
	background: none;
	background-color: #48154a;
	color: #fff;

}


.loginPop2 {
	display: none;
	width: 250px;
	background-color: #fff;
	padding: 20px 20px 30px 20px;
	border: 1px solid #919191;
}

.loginPop2 form div.form-group input{
	border: none;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #919191;
	text-align: center;
}

.loginPop2 form button, .loginPop2 form a.btn {
	background: none;
	text-shadow: none;
	color: #fff;
	width: 100%;
	border-radius: 0;
	background-color: #48154a;

}

.loginPop2 form button:hover, .loginPop2 form a.btn:hover {
	background-color: #f0f0f0;
	color: #48154a;
	border: 1px solid #48154a;
}

.listReduce {
	text-align: center;
}

.listReduce h2 {
	font-weight: 800;
	padding-bottom: 20px;
}

.listReduce h3 {
	/*padding-top: 0px;*/
	margin-top: 0px;
	font-weight:700;
}

.listReduce img {
	width: 100%;
	/*padding-top: 10px;*/
}

.listReduce .left {
	text-align: left;
}

.listPad li{
	padding-top: 20px;
}

.listPad li:last-child {
	padding-bottom: 20px;
}

.lendContent {
			text-align: center;
		}
		.lendContent h1 {
			font-weight: 700;
			padding-bottom: 20px;
		}

		.lendContent img {
			width: 100px;
		}


/*Invest Pages Content*/
.investCont1, .investCont2, .investCont3, .investCont4 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.investCont1 .graph, .investCont2 .graph {

}

.investCont1 h4, .investCont2 h4 {
	line-height: 150%;
}

.investCont3 {
	text-align: center;
}

.investCont3>h2 {

}

.investCont3>h4 {
	padding-bottom: 50px;

}

.investCont4 {
	text-align: center;
}

.investCont4>h2 {
	padding-bottom: 50px;
}

.investCont4 .info3 img {
	width: 50px;
	height: auto;
}

.investCont4 .left {
	text-align: right;
}

.investCont4 .right {
	text-align: left;
	padding-top: 10px;
}

.investCont4 .right h2 {
	font-weight: 700;
}

.info3 .right h2 {
	margin-top: 0px
}

.info3 img {
	margin-bottom: 20px;
}

.info4 .donut h3 {
	margin-top: 0px;
}

.info4 div.donut {
	width: 35%;
}

div.info {
	padding: 20px;
	/*height: 370px;*/

}

.info img {
	width: 65%;
	height: auto;
}

.info h4 {
	color: #fff;
}

.bg-purpleAmartha {
	background-color: #48154a;
}

/*HEADER SIMPLE*/


.headerSimple {
	width: 100%;
	height: 60px;
	background-color: #48154a;
	text-align: center;
}

.headerSimple img {
	width: 45px;
	height: auto;
	padding-top: 6px;
}

.formRegister {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 250px;
	padding-top: 30px;
}

.formRegisterNew {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
}

.formRegister form .form-group input {
	text-align: center;
	border: none;
	border-radius: 0;
	box-shadow: none;
	border-bottom: 1px solid #919191;
	font-weight: 200;
	font-size: 12px;


}

.formRegister h6, .formRegisterNew h6  {
	color: #919191;
	margin-top: 10px;
	margin-bottom: 10px;
}

.formRegister button, .formRegisterNew button, .formRegister a.btn, .formRegisterNew a.btn{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background-color: #48154a;
	text-shadow: none;
	color: #fff;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 10px;
	font-size: 12px;
	margin-bottom: 10px;
}

.formRegister textarea {
	border: none;
	border-radius: 0px;
	vertical-align: bottom;
	text-align: center;
	box-shadow: none;
	border-bottom: 1px solid #919191;
	font-size: 12px;
	font-weight: 200;	


}

.formRegister select.form-control,
.formRegister select.form-control option {
	    -webkit-appearance:none;
	    border: none;
	    border-radius: 0;
	    border-bottom: 1px solid #919191;
	    box-shadow: none;
	    margin-bottom: 10px;
	    font-size: 12px;
	    font-weight: 300;
	    text-align: center;
	    padding-left: 28%;

}

.formRegister .checkbox {
	text-align: left;
	font-size: 12px;
	color: #919191;
}

/*Header User*/
.headerUser {
	text-align: center;

}

.userNav {
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #919191;
	font-size: 12px;
	margin-right: 0px;
}

.userNav2 {
	text-align: center;
	font-size: 14px;

	padding: 10px 100px 10px 100px;

}

.userNav .right {
	text-align: right;
}

.userNav .left {
	text-align: left;
}

.userNav2 .right{
	border-right: 1px solid #919191;

}

.active a , li.active{
	font-weight: 700;
	color: #48154a;
}

.stepNav {
	text-align: center;
}

.stepNav ul li {
	display: inline-block;
	padding: 10px 10px 10px 10px;
}

/*user data*/

.data1 {
	text-align: center;
	margin-top: 20px;
	background-color: #f1f1f1;
	padding: 50px 0px;
	/*font-size: 24px;*/
	/*font-weight: 200;*/
	/*color: #fff;*/
}

.data1 h1 {
	font-weight: 100;
}

.data2 {
	text-align: center;
	background-color: #f1f1f1;
	


}

.data2 .progress {
	background-image: linear-gradient(to bottom, #b6e5fd 0%, #d2eefc 100%);
}

.data4 {
	/*border: 1px solid #919191;*/
}

.data4 div .infoBox {
	/*border: 1px solid #919191;*/
	margin-top: 20px;
	padding: 0px 20px;
	padding-top: 20px;
	height: 220px; 
	text-align: center;
}

.data4 .infoBox h5.bottom {
	padding-top: 20px;
	padding-bottom: 10px;
}

.data6{
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 50px;



}
.data6 .table {
	/*width: 50%;*/
	margin-top: 20px;
}

tr .summary {
	font-weight: 700;
}

/*Browse Table*/

.browseData {
	text-align: center;
	padding: 10px 10px 10px 10px;
}

.browseData .filter, .browseData  {
	text-align: left;
	padding: 20px 20px 20px 20px;
	height: 200px;
	/*border: 1px solid #919191;*/
}

.browseData .filter {
	border: 1px solid #919191;
	padding-top: 0px;
	margin-top: 20px;
}

.browseTable {
	border-radius: 10px;
	font-size: 11px;
	font-weight: 400;
	padding: 20px 20px;

	height: auto;


}

.browseTable thead {
	border-bottom: 1px solid #48154a;
	border-color: #48154a;
	background-color: #48154a;
	color: #fff;
}

.table-striped tbody>tr:nth-child(odd){
	/*background-color: #faedff;*/
	background-color: #fcfcfc;
}



.table-striped tbody>tr:nth-child(even){
	/*background-color: #faedff;*/
	background-color: #fff;
}

.table-hover tbody tr:hover,
            .table-hover tbody tr:hover td,
            .table-hover tbody tr:hover th{
                background:#ebebeb !important;
                /*color:#fff !important;*/
            }

.browseTable table tbody tr>td.checkIt {
	text-align: center;
}

.bold {
	font-weight: 700;
}

/*FILTER*/

.filter h3 {
	padding-bottom: 10px;
	font-weight: 700;
}

.filter button {
	border: none;
}

.tableNav {
	font-size: 12px;
	padding: 20px 20px 20px 20px;

}

.tableNav .pagination {
	margin-top: 0px;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
	background-color: #48154a;
	border-color: #919191;
}

.pagination>li>a, .pagination>li>span {
	color: #48154a;
}
/*IMPACT PAGES*/



/*PORFOLIO*/

.chartData {
	text-align: center;
}

.chartData div.col-md-6 {
	margin-top: 20px;
}

.chartData div.col-md-6 h3 {
	padding-bottom: 20px;
}

.chartData #canvas-holder {


	text-align: center;
	width: 200px;
	margin-right: auto;
	margin-left: auto;

}
.doughnut-legend  {
	text-align: center;
	padding-top: 30px;
}

.doughnut-legend ul li {
	display: inline-block;
	text-decoration: none;
	list-style:none;
	margin-left:10px;

}

.doughnut-legend li h6 {
	float: left;
	padding-left: 10px;
}

.doughnut-legend li span {
	display: block;
	border-radius: 5px;
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 5px;
}

.historyData h2 {
	text-align: center;
}

td.money {
	text-align: right;
}

td.center, th.center {
	text-align: center;
	vertical-align: middle;
}

.backButton {
	/*border:1px solid purple;*/
	padding: 10px 20px;
	background-color: #48154a;
	color: #fff;
	border-radius: 5px;
}

.backButton:hover {

	background-color: #48154a;
	color: #fff;
}

/*BORROWER DETAIL*/

.navBack {
	text-align: right;
}

.navBack button.back {

	margin-top: 20px; 
	margin-bottom: 20px;
	background-color: #fff;
	color: #48154a;
	border: 1px solid #48154a;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
}

.navBack button.addItem, a.addItem {
	background-color: #48154a;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
	color: #fff;
	border: none;
}

.photoProfile {
	text-align: center;
}

.namaBorrower {
	text-align: center;
}

.chartPerData ul li {
	list-style: none;
}

.chartPerData {
	padding: 20px;
	/*border: 1px solid #48154a;*/
}

div.photoBox {
	
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

.circliful {
	margin-left: auto;
	margin-right: auto;

}

.tabBorrow .col-md-6 {
	width: 48%;
	margin: 0 1%;
}

.tableNew>tbody>tr>td {
	border-top: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.tableNew>tbody>tr>td:first-child {
	text-align: right;
	/*font-weight: 700;*/
}

.tableNew>tbody>tr>td:last-child {
	/*text-align: right;*/
	font-weight: 700;
}

.buttonLoan>.button_main {
	background: none;
	background-color: #48154a;
	color: #fff;
	text-shadow:none;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
	padding: 10px 50px;
}

.buttonLoan>.button_main:hover {
	background-color: #fff;
	color: #48154a;
}



/*CONFIRMATION PAGES*/

.confirmPage .alert {
	margin: 20px;
}


.confirmPage {
	padding-bottom: 40px;
}


.confirmPage .browseTable {
	font-size: 12px;
}

td button.delete {
	float: none;
}

.borderless td, .borderless th {
    border: none;
}

.confirmPage .browseTable tbody td {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #faedff;
}

.confirmPage .browseTable tbody tr td:first-child, 
.confirmPage .browseTable thead tr th:first-child {
	padding-left: 20px;
}

.confirmPage .browseTable tbody tr td {
	vertical-align: middle;
}

.confirmButton {
}
.confirmButton button {
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	background-color: #48154a;
}

.confirmButton button:hover {
	background-color: #fff;
	color: #48154a;
	border: 1px solid #48154a;
}

a.dropdown-toggle:focus	 {
	color: #48154a;
}

/*MARKET PERFOMANCE*/

.chartDataGraph, .chartDataBar {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 20px;
}

.chartDataGraph div canvas, .chartDataBar div canvas {
	padding: 20px 30px 20px 10px;
}


div.donut {
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
    color: #FFF;
}

.small-box p {
    font-size: 15px;
    /*margin-top: 10px; */
    text-align: left;
    color: #FFF;

    /*font-family: 'roboto';
    font-weight: 300;*/

}

.contentFirst h1 {
	margin-top: 20px;
	margin-bottom: 40px;
}

.firstPad {
	margin-top:22px;
}


.bg-green {
	    background-color: #00a65a;
}

.bg-yellow {
	background-color: #f39c12;
}

.bg-aqua {
	background-color: #00c0ef;
}

.bg-velvet {
	background-color: #b12024;
}

.bg-purple {
	background-color: #b574b0;
}

.bg-softbrown {
	background-color: #4d5886;
}

.small-box>.inner {
    padding: 20px;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}



/*FLAG LANGUAGE*/

.flag img {
	width: 20px;
	height: auto;
	float: right;
	margin-left: 10px;
	vertical-align: text-bottom;
}


.sub{

padding-bottom: 100px;

}


/*STORIES*/

.stories {
	text-align: center;
	
}
.storiesbox{
	height: 200px;
	/*overflow: hidden;*/

}


.storiesbox2{
	height: 200px;
	text-align: center;

	/*overflow: hidden;*/
}

.storiesbox3{
	height: 200px;
	/*overflow: hidden;*/
}
.storiesImage, .storiesImage2, .storiesImage3,
.storiesImage4, .storiesImage5, .storiesImage6 {

}

.storiesImage4 img{
	/*display: block;*/
	width: auto;
	height: 100%;
	position: static;
	border-radius: 5px;
	/*margin-right: 100px;*/
	/*background-color: black;*/

}

.storiesImage img, .storiesImage2 img, .storiesImage3 img,
.storiesImage5 img, .storiesImage6 img {
	/*display: block;*/
	width: 300px;
	height: 100%;
	position: static;
	border-radius: 5px;
	/*margin-right: 100px;*/
	/*background-color: black;*/

}


.storiesImage h2,.storiesImage2 h2,.storiesImage3 h2,
.storiesImage4 h2,.storiesImage5 h2,.storiesImage6 h2 {
	width: 100%;
	font-weight: normal;
	color: #fff;
	display: block;
}
.stories_title{
	width: 94%;
	position: absolute;
	top: 30%;
	color: #fff;
}

.twoRow {
	top: 22%;
}
.stories_title h2 {
	/*font-family: 'roboto';*/
	/*font-family: 'Aguafina Script', cursive;*/
	/*font-family: 'Cookie', cursive;*/
	/*font-family: 'Lovers Quarrel';*/
	font-family: 'Rochester', cursive;
	font-size: 20px;
	font-weight: 300;
	text-shadow: 1px 1px 5px #181818;
	opacity: 0.8;
	letter-spacing: 0.02em;
}


.stories_title small{
	font-family: 'roboto';
	font-size: 16px;
	font-weight: 300;
	/*color: purple;*/
	letter-spacing: 0.05em;
	text-shadow: 1px 1px 10px #181818;

}
.stories_title small{
	opacity: 0;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}
.stories_title:hover small{
	opacity: 1;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;

}

.storiesImage h5, .storiesImage2 h5, .storiesImage3 h5,
.storiesImage4 h5, .storiesImage5 h5, .storiesImage6 h5 {
	width: 100%;
	color: #fff;
	position: relative;
}

.stories div.row {
	padding-top: 25px;
}

div.storiesImage:hover h2, div.storiesImage:hover h5,
div.storiesImage2:hover h2, div.storiesImage2:hover h5,
div.storiesImage3:hover h2, div.storiesImage3:hover h5,
div.storiesImage4:hover h2, div.storiesImage4:hover h5,
div.storiesImage5:hover h2, div.storiesImage5:hover h5,
div.storiesImage6:hover h2, div.storiesImage6:hover h5 {
	opacity: 1;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

div.storiesImage:hover img, 
div.storiesImage2:hover img, 
div.storiesImage3:hover img, 
div.storiesImage4:hover img, 
div.storiesImage5:hover img, 
div.storiesImage6:hover img {
	opacity: 0.5;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.detailStory div {
	padding: 20px;
}

.storyContent {
	text-align: justify;
	font-size: 11pt;
	font-weight: 300;
}

.menuIcon {
	padding-top: 50px;

}

.st_title2{
	margin-left: -80px;

}

/*new stories like square*/
.white {
	color: #fff;
}
.storiesSquare {
	text-align: center;\bac
}

/*GANTI IMAGESNYA DISINI*/
	div.picStory1 {
	  background: url(../img/story_1.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;

	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      /*margin-top: 15px;*/
      margin-bottom: 15px;
	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory2 {
	  background: url(../img/story_2.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory3 {
	  background: url(../img/story_3.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory4 {
	  background: url(../img/story_4.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory5 {
	  background: url(../img/story_5.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory6 {
	  background: url(../img/story_6.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory7 {
	  background: url(../img/story_kesehatan.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory8 {
	  background: url(../img/story_kacamata1.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory9 {
	  background: url(../img/story_talkshow.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory10 {
	  background: url(../img/story_bebek.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory11 {
	  background: url(../img/story_pemilu.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory12 {
	  background: url(../img/story_ied.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory13 {
	  background: url(../img/story_gigi1.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory14 {
	  background: url(../img/story_sembako1.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	div.picStory15 {
	  background: url(../img/story_literasi.jpg) no-repeat ; 
	  background-size: cover;
	  height: 180px;

	  border-radius: 5px;
	  width: 300px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 15px;

	  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}


.black h2.hs {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 100;
	opacity: 1;

	top: 20%;
	/*vertical-align: center;*/

	font-size: 40px;

	-webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;


}



.black h2.hd {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 100;
	opacity: 0;

	top: 20%;
	/*vertical-align: center;*/

	font-size: 30px;

	-webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;


}

.black h5.hd {
	position: absolute;
	z-index: 100;
	opacity: 0;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;

	top:70%;	



	-webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
}


	/*HIDE TULISANNYA DISINI*/
	
	.black:hover h2.hd,
	.black:hover h5.hd {
		opacity: 1;
		-webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}

	.black:hover h2.hs {
		opacity: 0;
		-webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
	}
.box {

  background-color: blue;
  height: 300px;
}

.overlay {
  position: relative;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 5px;
  opacity:0;
  z-index: 1;
  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
}

.overlay:hover:after  {
  opacity: .4;
  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
}

.black:after {
  background-color: #000;
  -webkit-transition: all 1s; /* Safari */
   	  transition: all 1s;
}

/*.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
}*/

/* MY WALLET*/
.my_wallet {
	text-align: center;
}


/*ABOUT*/

.about_WhoWeAre {
	padding: 20px;
}

div.singleHead  {
	padding-top: 80px;
}

.teamList  {
	/*text-align: center;*/
	/*border: 1px solid #000;*/
}

.teamRight, .teamLeft {
	/*border: 1px solid #000;*/
	padding: 10px;

}

.teamBorder {
	border: 1px solid #fcfcfc;
	padding: 10px;
	height: 300px;
	/*background-color: #fcfcfc;*/

}

.teamLeft .pic img,
.teamRight .pic img {
	width: 90%;
	padding-top: 20px;
}

.founderPic img {
	width: 100%;

}

.e-sign{

margin-left: 320px;

}

.social img{
width: 100%;
height: auto;


}

.social2 img{
width: 100%;
height: auto;


}

.social3 img{
width: 100%;
height: auto;


}

.social4 img{
/*width: 100%;*/
height: auto;
Padding : 30px 10px 15px 2px;


}

.social5 img{
width: 48%;
height: auto;


}

.awardPic img {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.square img {
	width: 80%;	
	height: auto;
}

.square1 img {
	width: 50%;
	text-align: left;	
	height: auto;
}

.logo_partners{
	/*width: 12%;*/
	padding: 10px 0;

}


/*E-WALLET*/

.e-wallet {
	text-align: center;
}

.topUp {
	padding-left: 30px;
	margin-right: 20px;
}

.topUp button {
	margin-bottom: 20px;
	
}

.paymentTotal {
	text-align: left;
	padding-right: 40px;
}

.walletDetail .table {
	text-align: left;
}



.paymentTotal .table tbody td:nth-child(2), 
.walletDetail .table tbody td:nth-child(2) {
 	text-align: right;
}




.paymentTotal div {
	float: right;
}

.paymentTotal h2 {
	/*border-bottom: 1px solid #48154a;*/
	/*padding-bottom: 5px;*/
	text-align: center;
}
.paymentTotal div.padding {
	text-align: right;
	height: 20px;
	width: 200px;
	border-bottom: 1px solid #48154a;
	margin-top: -10px;
	margin-bottom: 10px;
}

.e-wallet .browseTable table thead tr th{
	text-align: center;
}


div.dropdown:hover .dropdown-menu {
    display: block;

}

.boxWallet {
	height: 200px;
	padding-top: 70px;
}

.boxWallet button {
	margin-top: 10px;
}

.boxWallet button {
	background-color: #48154a;
	color: #fff;
	padding: 10px 20px 10px 20px;
}



div.dropdown:hover .dropdown-menu {
    display: block;

}




.dataTables_filter input{
	border: 1px solid #ccc;
}


.homeimpact h3{
	font-size:24px;
}
.progress.progress-small{
	height: 2px;
}
.progress.transparent-white{
	background-color: rgba(255, 255, 255, 0.35);
}
.progress{
	background-color:rgba(98, 98, 98, 0.2);
}
.progress-bar-white{
	background-color: #fff;
	background-image: none;
		height: 2px;
}
.progress-bar{
	box-shadow: none;
	border-radius: 0;
	background-color:#48154a;
	-webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: all 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.progress-bar{
		border-radius: 0;
		/*height: 2px;*/
}
.input-group-btn{
	position: relative;
	white-space:nowrap;
}
.bg-transparent{
	background-color: transparent !important;
}
.m-t-40{
	margin-top: 40px;
}
.form-group{
	margin-bottom:10px;
}
.form-group-default .input-group{
	padding: 0;
	border: none;
}

/* CONTACT PAGE */
.contact_page{
	background: #222;
}

/*MOBILE MENU*/

div.menu_mobile {
	/*text-align: center*/
	padding: 40px;
}

.menu_mobile div {
	width: 20px;
	position: absolute;
	left: 40%;
}




@media only screen and (max-width: 420px){
	.menu_mobile div {
		left: 30%
	}

	

}


.menu_mobile button,  
.menu_mobile button:focus,  
.menu_mobile button:active,  
.menu_mobile button:hover,  
.menu_mobile button  {

	text-align: center;
	background: none;
	border: none;
	box-shadow: none;
	outline: none;
}



.menu_mobile button img {
	height: 30px;
	float: left;
	padding-left: 10px;
	margin-top: 5px;
}

.menu_mobile button h2 {
	margin: 10px;
	position: absolute; 
	top: 0;
	left: 45px;
}

.flag {
	text-align: right;
}

.copyright .left {
		text-align: left;
	}


.footerNav .sosmed {
	text-align: right;
}


/*PAYMENT PAGES*/

.paymentHead h2{
	padding-top: 100px;
}

.paymentHead h2,
.paymentHead h3 {
	text-align: left;
}

#ImagePaymentVideo{
	height: 300px;
	background: #48154a url(../img/bg_paymentvideo.jpg) no-repeat center center;
	background-size: cover;

}


/*BORROW PAGES*/

.tabBorrow {
	text-align: center;
	padding-top: 20px;
}

.tabBorrow div {

}

.tabBorrow div.pasive {
	border: 1px solid #48154a;
	/*background-color: gray;*/
	border-radius: 40px;
	padding-top: 0px;
	padding-bottom: 10px;
}

.tabBorrow div.active {
	border-radius: 40px;
	color: #fff;
	background-color: #48154a;
	padding-bottom: 10px;

}

#ImageBorrowProcess {
	height: 380px;
	padding-top: 20px;
	background: #48154a url(../img/bg_borrowprocess.jpg) no-repeat center center;
	background-size: cover;
}

#ImageAboutProcess {
	height: 380px;
	padding-top: 20px;
	background: #48154a url(../img/bg_aboutprocess.jpg) no-repeat center center;
	background-size: cover;
}

.borrowProcess {
	color: #fff;
	/*text-align: center;*/
}

.borrowProcess div span {
	border: 2px solid #fff;
	padding: 5px 9px;
	border-radius: 20px;
}

.borrowProcess div p {
	text-align: left;
	padding-left: 40px;
}

.FaqBorrow {
	padding-bottom: 20px;

}

.FaqBorrow h1 {
	text-align: center;
}

/*PARTNER CONTENT*/

.partnerContent {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*FAQ CONTENT*/

.faqDetail {
	border-left: 1px solid #e1e1e1;
	padding-left: 40px;
	padding-bottom: 40px;
}

.faqContent ul li {
	list-style: circle;
	line-height: 1.5em;
}

div.navFaq {
	height: auto;
}

div.navFaq ul li {
	list-style: none;
	/*margin-left: -20px;*/
	font-size: 16px;

}

/*FORM BORROW*/

.formBorrow {
	padding-bottom: 20px;
}

button.btn-save {
	width: 50%;
}

/* CAREER PAGES*/

.careerIcon {
			text-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.careerIcon h1 {
			font-weight: 700;
			padding-bottom: 20px;
		}

		.careerIcon img {
			width: 100px;
			margin-top: 20px;
		}

		.careerIcon h2{
			font-weight:300;
		}


/*BORROWER PAGES*/

.userNavBorrow {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #919191;
}

.userNavBorrow>a>span.label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    /*background-color: #f39c12;*/
}

.contentTimeline {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #fff;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 0;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #48154a;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
  /*background-color: #fcefff;*/
}
.timeline > li > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
.timeline > .time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
}
.timeline-inverse > li > .timeline-item {
  background: #f0f0f0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.timeline-inverse > li > .timeline-item > .timeline-header {
  border-bottom-color: #ddd;
}

/*button color*/
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
    color: #fff !important;
}

.bg-red {
	background-color: #dd4b39 !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
}

.bg-maroon {
    background-color: #d81b60 !important;
}

.bg-purple {
    background-color: #605ca8 !important;
}

.sosmed a:hover {
		border: none;
	}


/*LOAN PAGES*/

.loanNav h3 {
	font-weight: 300;
	text-align: center;
}

.active h3 {
	font-weight: 900;
	color: purple;
}

.loanForm {
	padding-top: 20px;
	padding-bottom: 20px;
}


/*Invoice*/

.tableInvoice {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.tableInvoice table thead tr th {
	text-align: center;
}





/*test*/
.mobile {
	display: none;
}

/*RESPONSIVE!!*/

@media screen and (max-width: 820px){
	#headerImage {
		text-align: center;
		/*padding-left: 20%;*/
		min-width: 320px;

	}

	.copyright .left {
		text-align: center;
	}


	.flag {
	text-align: center;
	}

	.footerNav div {
		padding: 20px;
		text-align: center;
	}

	.footerNav .sosmed {
		text-align: center;
	}


	.headerNav {
		padding: 100px 20px 0px 20px;
	}

	.ContentBox h3 {
		text-align: center;
	}

	.e-sign {
	     margin-left: auto; 
	}

	.logo_partners {
		width: 90%;
	}

	.social5 img {
		width: 90%;
		padding-left: 5%;
	}

	.storiesImage4 img {
		width: 100%;
		height: auto;
	}

	.resp {
		margin-top: 10px;
	}



	}
	
	/*.startContent {
		padding-top: 10px;
	}
*/
	.Content3 .grid{
		width: 100%;
	}

	footer {
		height: auto;
	}

	

	.Content2 div h2 {
		margin-bottom: 10px;
		margin-top: 60px;
	}

	.Content3 img {
		margin-bottom: 30px;
	}

	.stories2 {
		padding-top: 0px;
	}

	.stories2 div img{
		width: 100%;
		padding-top: 50px;

	}

	.Content3 .grid	.row div:last-child {
		visibility: hidden;
		height: 0px;
	}

	

	.copyright {
		text-align: center;
	}



}

@media only screen and (min-width: 820px){
	div.menuIcon {
		display: none !important;
	}

	
}

@media only screen and (min-width: 990px){
	.menu_mobile {
		display: none;
	}
}

@media only screen  and (max-width: 990px){
	#headerImage,
	#headerImageAbout,
	#headerImageCareer,
	#headerContact,
	#headerImageBorrow,
	#headerImageImpact,
	#headerImageStory,
	#headerImageInvest,
	#headerImagePayment,
	#headerImageStoryHealthy,
	#headerImageStoryGlasses,
	#headerImageStoryTooth,
	#headerImageStoryGroceries,
	#headerImageStoryTalkshow,
	#headerImageStoryVote,
	#headerImageStoryFinancial,
	#headerImageStoryDuck,
	#headerImageStoryIed

	 {
		height: auto;
		padding-bottom: 20px;
	}
	div.row.navi {
		margin-top: 10px;
	}

	div.row.navi div.res {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.startContent {
		padding-top: 0;
	}
	div.singleHead  {
	padding-top: 0px;
	}

	.tabBorrow .col-md-6 {
		width: 100%;
		margin: 10px 0px;
	}

	.teamBorder {
		height: auto;
		border:none;
	}
	.teamLeft .pic img, .teamRight .pic img {
    width: 100%;
    padding-top: 20px;
	}
	#ImageAboutProcess {
		height: auto;
	}

	#ImageBorrowProcess {
		height: auto;
	}
	
	.no-mobile {
		display: none;
	}

	.mobile {
		display: block;
	}



	/*HIDDEN*/
	.headerNav div.navi {
		display: none;
		/*max-height: 0px;*/
		transition-delay: 10s;
		-webkit-transition: display 500ms ease-out 1s;
    -moz-transition: display 500ms ease-out 1s;
    -o-transition: display 500ms ease-out 1s;
    transition: display 500ms ease-out 10s;
	}

	.investCont4 .left,
	.investCont4 .right {
		text-align: center;
	}

	div.donut {
		padding-top: 100px;
	}




	.flag img {
		float: none;
		width: 40px;

	}
	div.flag {
		padding: 0;
	}

	.sosmed {
		text-align: center;
		padding-top: 20px;

	}
	.flag {
		height: 40px;
	}

	.flag a {
		padding-top: 20px;
	}

	.sosmed img {
		width: 40px;
		height: 40px;
	}

	.sosmed a:hover {
		border: none;
	}

	div.years {
		padding-bottom: 10px;
	}
	.userNav2 .right {
		border-right: none;
	}

	.dropdown-menu {
		left: 40%;
	}

	.userNav2 div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	


}

@media only screen and (max-width: 420px) {
	.dropdown-menu {
		left: 0%;
	}
	.stories_title {
		top: 23%;
		width: 90%;
	}

	.twoRow {
		top: 12%;
	}

	.stories_title h2 {
		font-size: 24px;
	}
	.careerIcon h2{
			font-size: 16px;
		}
}

@media only screen and (min-width: 990px) {
	.ContentBox h3 {
		padding-top: 18px;
	}
}

.akad_template{
	line-height: 135%;
	font-size: 12px;
	padding-right: 30px;
}
.akad_title{
	font-size: 16px;
	
	
}



