/*
Custom.css
Date   : 06 April 2014
Author : fikriw 
*/

body{
	font-family:  "Open Sans", "Helvetica-Neue","Helvetica Neue",Helvetica,Arial,sans-serif; 
	/*font-weight: 300;*/
	color: #444; 
}
p{
	font-size: 11pt;
}
.container{
	max-width: 1000px;
}
.pad-top-150{
	padding-top: 150px;
}
.imgresponsive{
	max-width: 100%;
}
a.white{
	color: white;
	font-size: 16px; 
}
/* HEADER */
footer{
	background: #eee;
	border-top: 1px solid #ddd;
	line-height: 160%;
	font-size: 11pt;
}
footer li a{	
	color: #333;
}
footer p{	
	font-size: 11pt;
	line-height: 160%;
	padding-top: 4px;
}

/* MAIN SLIDE */
.mainslide{
	margin-top: 0px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}
.mainslide_home{
	background: url("../img/bg_home_5.jpg") center center no-repeat;
	background-size: cover;
	overflow: hidden;
	height: 600px;
}
.mainslide1{
	/*background: url("../img/bg_home.jpg") center center no-repeat;
	background-size: cover;*/
	overflow: hidden;
}
.mainslide2{
	background: url("../img/v1.jpg") center center no-repeat;
	background-size: cover;
	height: 600px;
}
.mainslide3{
	background: url("../img/bg_home2.jpg") center center no-repeat;
	background-size: cover;
}
.mainslide4{
	background: url("../img/mainslide_4.jpg") center center no-repeat;
	background-size: cover;
	height: 450px;
}
.mainslide5{
	background: url("../img/mainslide_5.jpg") center center no-repeat;
	background-size: cover;
	height: 450px;
}
.mainslide6{
	background: url("../img/mainslide_6.jpg") center center no-repeat;
	background-size: cover;
	height: 450px;
}
.mainslide7{
	background: url("../img/mainslide_8.jpg") center center no-repeat;
	background-size: cover;
	height: 450px;
}
.mainslide9{
	background: url("../img/mainslide_9.jpg") center center no-repeat;
	background-size: cover;
	height: 450px;
}
.mainslide_outreach{
	height: 400px;
	margin-top: 0px;
	padding-top: 100px;
	color: #fff;
	background: url("../img/mainslide_8.jpg") center center no-repeat;
	background-size: cover;
}
.mainslide_outreach b{
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}
.mainslide_outreach b.home_outreach_ammount{
	font-size: 30px;
	color: #fff;
	font-weight: bold;
}

.mainslide_home_job{
	/*background: url("../img/bg_home_job.jpg") center center no-repeat;
	background-size: cover;*/
	background: #564394 url("../img/batik_biru2.jpg") center center repeat;
	height: 350px;
	padding-top: 80px;
	font-size: 16px;
}
.home_youtube{
	position: relative; 
	z-index: 2000; 
	width: 100%; 
	height: 600px
}
.global-header .containers{
		width: 1050px;
		margin: 0 auto;
	}
@media (max-width: 600px) {
	.mainslide_home,.mainslide2,.mainslide5,.mainslide6,.mainslide7,.mainslide9{
		padding-top: 40px;
		height: 250px;
	}
	.home_youtube{
	
		height: 200px;
	}
	.home_prog{
	
		height: 200px;
		padding-top: 50px;
		font-size: 14px;
	}
	
	.mainslide_home_job{
		height: 200px;
		padding-top: 50px;
		font-size: 14px;
	}
	.mainslide_outreach{
		height: 600px;
	}
	.newline{
		margin-bottom: 20px;
	}
	
	.global-header .containers{
		width: 100%;
	}
}
.mainslide_home_job a:hover{
	color: #fff;
	text-decoration: none;
}
.slide_whoweare{
	background: url("../img/bg_whoweare.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_purpose{
	background: url("../img/bg_purpose.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_history{
	background: url("../img/bg_history.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_leadership{
	background: url("../img/bg_leadership.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_approach{
	background: url("../img/bg_approach.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_value{
	background: url("../img/bg_value.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_award{
	background: url("../img/bg_award.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_financing{
	background: url("../img/bg_financing.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_saving{
	background: url("../img/bg_saving.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_story{
	background: url("../img/bg_story.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_progress{
	background: url("../img/bg_progress.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_opportunities{
	background: url("../img/bg_opportunities.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_career_overview{
	background: url("../img/bg_career.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_reporting{
	background: url("../img/bg_reporting.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.slide_news{
	background: url("../img/bg_news2.jpg") center center no-repeat; 
	background-size: cover;
	height: 500px;
}
.slide_contact{
	background: url("../img/bg_contact.jpg") center center no-repeat;
	background-size: cover;
	height: 500px;
}
.mainslide h1{
	font-size: 40px;
	letter-spacing: -0.01em;
	line-height: .96;
	font-weight: 400;
}
.mainslide h2{
	border-top: 1px solid #fff;
}
#mainslide_text{
	padding-top: 200px;
}
.mainslide4 #mainslide_text, .mainslide5 #mainslide_text, .mainslide6 #mainslide_text, .mainslide7 #mainslide_text{
	padding-top: 130px;
}
#mainslide_text h3{
	font-size: 20px;
	line-height: 130%;
	font-weight: 300;
	padding-bottom: 15px;
}
#mainslide_text h4{
	font-size: 16px;
	line-height:130%;
	font-weight: 300;
	padding-bottom: 15px;
}
a{ color: #000;}
ul b{
	padding-bottom: 5px;
}
.text-sm p{
	font-size: 8px;
	line-height: 10pt;
}
ul li{ list-style: none;}

.home_promo{
	padding: 20px 0 50px 0;
	
}
.home_promo_bg{
	padding: 30px 0 20px 0;
	background: url("../img/batik.jpg") center center repeat;
	color: #fff;
	
}
.home_promo p{
	font-size: 11pt;
	color: #333;
}
.home_promo_bg p{
	font-size: 12pt;
	color: #fff;
}
.top80{
	margin-top: 80px;
}
.top50{
	margin-top: 50px;
}
.courses_header{
	height: 120px;
	background: #eee;
	border-bottom: 1px solid #ddd;
}
.courses_header h3{
	font-weight: normal;
	margin-bottom: 0;
}
.courses_thumbnail{
	margin-bottom: 15px;
}
.courses_thumbnail_container{
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;

}
.courses_details_header{
	background: #eee;

}
.courses_details_header h3{
	font-weight: normal;
	margin-bottom: 0;
}
.bg_grey{
	background: #eee;
}
.pad20{
	padding: 20px;
}
.radius{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.lessonlist li{
	padding: 3px 0;
}
ul.lessonlist b{
	margin-bottom: 10px;
}

.pricing_box{
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 5px;
	border-radius: 5px;
}
.pricing_box_title{
	font-size: 16px;
	font-weight: bold;
	background: #333;
	padding: 10px 5px 10px 30px;
	color: #fff;
	border-radius: 5px;
}
.pricing_box_content{
	padding-top: 10px;
}


.navbar-inverse{
	background-color: transparent;
	background-color: #704390;
	border-bottom: none;
	background: #704390 url("../img/line.png") bottom center repeat-x;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	background-color: transparent;
	/*background-color: #502750;*/
}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-brand{
	padding-top:10px;
}
.purple{
	color:#704390;
}
.text-white{
	color: #fff;
}

.home_social{
	background: #ddd url("../img/bgmaze.png") center center repeat; 
}
.container_home_social{
	max-width: 1050px;
	margin: 0 auto;
}
#home_news{
	background: #704390;
	margin: 20px 0;
	padding: 10px;
	height: 300px;
	font-family: "Open Sans";
	border-radius: 3px;
}
#home_news1{
	margin: 10px 0;
	padding: 20px;
	height: 100px;
	font-family: "Open Sans";
	border-radius: 3px;
	
}
#home_social_twitter{ 
	background: #55ACEE;
	margin: 20px 0;
	padding: 10px;
	height: 300px;
	font-family: "Open Sans";
	border-radius: 3px;
}
#home_blog{ 
	background: #45619D;
	margin: 20px 0;
	padding: 10px 20px;
	height: 300px;
	font-family: "Open Sans";
	border-radius: 3px;
}

#home_blog1{
	margin: 10px 200px;
	padding: 20px;
	height: 20px;
	font-family: "Open Sans";
	border-radius: 3px;
	
}
#home_progress{
	background: url("../img/batik.jpg") center center repeat;
	margin: 0px 0;
	padding: 80px;
	font-family: "Open Sans";
	border-radius: 3px;
}

#footer_bottom{
	background:#704390;
	margin: 0px 0;
	padding: 30px 0 20px 0;
	font-family: "Open Sans";
}
#footer_bottom  a.kws:hover{
	color: #fff;
	border-bottom: 1px dotted #fff;
	text-decoration: none;
}
#footer_bottom .container, footer .container{
	max-width: 100%;
}

.home_progress{
	/*background: url("../img/batik.jpg") center center repeat;*/ 
	background: #59366C;
	margin: 0px 0;
	padding: 80px;
	font-family: "Open Sans";
	border-radius: 3px;
}

@media (max-width: 600px) {
	.home_progress{
	
		height: 200px;
	}
}

.border-bold{
	border-bottom:5px solid #fff;
	margin-top: -5px;
}
.progress_box{
	height: 150px;
	margin:0 15px;	
	border-bottom:10px solid #fff;
}
.progress_box .nopadding{
	padding: 0; 
	line-height: 40px;
}

.about_approach{
	width: 100%;
	overflow: hidden;
}

.logo_partners{
	width: 19.5%;
	padding: 10px 0;
}

small{
	font-size: 11px;
}

.navbar-brand{
	width: 300px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: #000;
}

h4{
	margin-top: 20px;
	font-size: 11pt;
}

@media (max-width: 600px) {
	
	.mainslide1{
		height: 240px;
	}
	.home_promo_bg{
		padding:20px 0 0 0;
	}
	.home_promo_bg a{
		font-size: 14px;
	}
	.home_promo_bg h1{	
		font-size: 16px;
	}
	#mainslide_text{
		padding-top: 0;
	}
	#mainslide_text h1{
		font-size: 18px;
	}
	#mainslide_text p{
		font-size: 9px;
	}
	#mainslide_text h3{
		font-size: 12px;
		line-height: 130%;
		font-weight: 300;
		padding-bottom: 15px;
	}
	#mainslide_text h4{
		font-size: 16px;
		line-height:130%;
		font-weight: 300;
		padding-bottom: 15px;
	}
	.mainslide2{
		padding-top: 30px;
		height: 400px;
	}
	.mainslide2 #mainslide_text p{
		font-size: 12px;
	}
	#footer_bottom .container, footer .container{
		width: 90%;
	}
	#footer_bottom small{
		line-height: 10pt;
	}
}
.home_promo ul li{
	list-style: square;
}
.job_list:first-child{
	margin-top: 10px;
}
.job_list{
	padding: 7px 5px;
	border-top: 1px solid #eee;
	display: block;
}
.career_title{
	padding-bottom: 10px;
}
.twitter-share-button{
	vertical-align: top;
}


/* TWITTER */
.example2 {
    width: 300px;
    margin: 20px 20px 20px 0;
}
.example2 .tweet {
    overflow: hidden;
}

.example2 ul {
    width: 99999px;
    height: 200px;
	margin:0;
	padding:0;
}
 
.example2 ul li {
	width: 250px;
    height: 300px;
	list-style: none;
	color: #fff;
	margin:0 0 0 15px;
	padding:0;
	font-size: 16px;
	font-weight: 300;
}
.example2 ul li a{
	color: #fff;
}
#home_social_twitter{
	padding-top: 30px;
}
@media (max-width: 600px) {
	.example2 ul li {
		width: 200px;
	}
	
	#home_social_twitter{
		padding-top: 30px;
	}

}
/* HOME BLOG */
.home_blog a{
	color: #fff;
	text-transform: capitalize;
}
.home_blog a:hover{
	text-decoration: none;
	color:#fff;
}
.home_blog { 
	font-size: 10pt;
	padding: 10px; 
	border-bottom: 1px dotted #fff;
} 
.blog_title{
	font-size: 18px;
	
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px dotted #fff;
}
.item{
	width: 100%;
	max-height: 600px;
	margin:0;
	padding:0;

}

/* HOME annual report */
.home_annual{
	color: #fff;
	text-transform: capitalize;
}

.item{
	width: 100%;
	max-height: 600px;
	margin:0;
	padding:0;

}

.mainslide_annual{
	/*background: url("../img/bg_home_job.jpg") center center no-repeat;
	background-size: cover;*/
	background: #564394 url("../img/annual_report3.jpg") center center repeat;
	height: 500px;
	padding-top: 20px;
	font-size: 16px;
	color:#fff;
	
	
}
.maislde_annual1{
margin-top: 0px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}


/* NEWS NEW */

.home_news_box{
	background: #fff; 
	margin-bottom: 50px;
	font-family: "Open Sans";
	text-align: center;
	padding-bottom: 30px;
}
.home_news_box_photo img{
	width: 100%;
	margin-bottom: 30px;
}
.home_news_box_caption_title{
	font-size: 18px;
	color: #704390;
	padding: 0 30px;
}
.home_news_box_caption_date{
	font-style: italic;
	font-family: "Serif, Georgia, Open Sans";
	color: #999;
	padding: 10px 30px;
	font-size: 16px;
}
.home_news_box_caption_content{
	color: #444;
	font-size: 13px;  
	line-height: 24px;
	padding: 0 30px;
}
.home_news_box_caption_more{
	margin: 40px 0 20px 0;
	padding: 0 30px;
}
a.readmore{
	font-size: 11px;
	padding: 10px 15px;
	border: 2px solid #704390;
	font-weight: bold;
	letter-spacing: 5px;
	color: #704390;
}
a.readmore:hover{
	background: #704390;
	color: #fff;
	text-decoration: none;
}
.timeline_garis{
	padding-top: 300px;
}

.timeline_garis1{
	padding-top: 100px;
}

.timeline_left{
	border-right: 1px solid #ccc;
}
.pad_top_100{
	padding-top: 100px;
}
.home_box_title{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin: 30px 0 40px 0;
}
.home_box_title b{
	border-bottom: 3px solid #704390;
	padding-bottom: 5px;
	padding-right: 2px;
	padding-left: 2px;
	color: #704390;
	
}
@media (max-width: 600px) {
	.timeline_left{
		border-right: none;
	}
	.pad_top_100{
		padding-top: 0px;
	}
	.container_home_social, .container{
		max-width: 100%;
	}
}