div#ibacor_shareawesome p{
	display:inline-block;
	margin:10px 0px 10px;
	padding:0
}
a.sh_btn{
	color:#fff;
	text-decoration:none
}
.sh_btn {
	cursor:pointer;
	color: #fff;
	border: none;
	padding: 10px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
	transition: border .25s linear,color .25s linear,background-color .25s linear
}
.sh_btn:hover {
	background-color: rgba(220,220,220,0.5);
	color: #000
}
.sh-facebook {
	background-color: #4769a5;
	border-color: #354d79;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-twitter {
	background-color: #51a3bf;
	border-color: #408299;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-google {
	background-color: #bf3727;
	border-color: #932b1f;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-linkedin {
	background-color: #2ba3e1;
	border-color: #207aa8;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-stumbleupon {
	background-color: #eb4723;
	border-color: #ab361d;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-reddit, .sh-buffer {
	background-color: #333333;
	border-color: #1d1d1d;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-pinterest {
	background-color: #cc2209;
	border-color: #9b1a20;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	box-shadow: inset 0 -2px 0 rgba(0,0,0,.15)
}
.sh-total {
	background: #fff;
	color: #888;
	border: 1px solid rgba(0,0,0,.15);
	padding: 9px;
	border-radius: 10px;
}
