/*	################################################################

	Author: Carlos Alvarez
	URL: http://alvarez.is

	Project Name: SOLID - Bootstrap 3 Theme
	Version: 1.0
	URL: http://alvarez.is
	
################################################################# */ 
@import url("prettyPhoto.css") screen;
@import url("hoverex-all.css") screen;

@font-face {
  font-family: lato;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: lato;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: lato;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
}

/*	################################################################
	1. GENERAL STRUCTURES
################################################################# */
* { 
	margin: 0;
	padding: 0px;
} 

body { 
	background: #ffffff; 
	margin: 0; 
	height: 100%; 
	color: #451b55;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p { 
	padding: 0; 
	margin-bottom: 12px; 
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px; 
	line-height: 24px;
	color: #384452; 
	margin-top: 10px; 
}

img {
	height: auto;
	max-width: 100%;
}

a { 
	padding: 0;
	margin: 0;
	text-decoration: none; 
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}
a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

.centered {
	text-align: center
}

.small-margin-bottom {
	margin-bottom: 10px;
}

.btn-white{
    font-family: lato;
    font-weight: 700;
    font-size: 14px;
    color: #451b55;
    background-color: #fff;
    border-color: #451b55;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
}

.btn-white a{
	color: #451b55;
}

.btn-white a:hover, .btn-white a:focus, .btn-white a:active{
    color: #451b55;
    background-color: #fff;
    border-color: #451b55;
    text-decoration: underline;
    text-decoration: #451b55;
}

.btn-purple{
    font-family: lato;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #451b55;
    border-color: #fff;
    border-radius: 0px;
    text-transform: uppercase;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
}

.btn-purple a{
	color: #fff;
}

.btn-purple a:hover, .btn-purple a:focus, .btn-purple a:active{
    color: #fff;
    background-color: #451b55;
    border-color: #fff;
    text-decoration: underline;
    text-decoration: #fff;
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar-header .navbar-brand {
	color: #9b59b6;
	font-family: lato;
  	font-weight: 400;
  	padding: 0px;
  	padding-left: 40px;
}

.navbar-default .navbar-nav > li > a {
	color: #9b59b6;
	font-family: lato;
  	font-weight: 400;
	font-size: 14px;
	padding-right: 25px;
	padding-left: 25px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: #fff;
	border-color: transparent;
	height: 75px;
}

.navbar-blue .navbar-right .navbar-nav > li > a {
	color: #dadfe1;
	font-family: lato;
  	font-weight: 400;
	font-size: 13px;
	padding: 5px 0px;
	margin-left: 20px;
}

.navbar-blue .navbar-right .navbar-nav > li:first-child > a {
	color: #fff;
}

.navbar-blue .navbar-right .navbar-nav > li:last-child > a{
	margin-right: 25px;
}

.navbar-blue .navbar-left .navbar-nav > li > a {
	color: #dadfe1;
	font-family: lato;
  	font-weight: 400;
	font-size: 13px;
	padding: 5px 0px;
}

.navbar-blue .navbar-left .navbar-nav > li > a:before {
	content: "|";
	color: #dadfe1;
	margin-right: 15px;
	margin-left: 15px;
}

.navbar-blue .navbar-left .navbar-nav > li:first-child > a:before {
	content: "";
	margin-right: 10px;
}

.navbar-blue .navbar-nav > li > a:hover {
	color: #fff;
	background-color: transparent;
}

.navbar-blue .navbar-nav > .active > a, .navbar-blue .navbar-nav > .active > a:hover, .navbar-blue .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: transparent;
}

.navbar-blue {
	background-color: #446cb3;
	border-color: transparent;
	height: 30px;
}

.navbar.navbar-blue {
	min-height: 50px;
}

#second-navbar-wrapper{
	padding-top: 75px;
	/* position: fixed;
	width: 100%; */
}

.dropdown-menu {
	background: #fff;
}

.dropdown-menu > li > a {
	color: white;
	font-weight: 700;
	font-size: 12px;
}

/*	################################################################
	SITE WRAPS
################################################################# */

#content-wrap {
	min-height: 357px;
	padding-top: 40px;
	padding-bottom: 21px;
}

#content-wrap h3, h5 {
	color: white;
	font-weight: 400;
}

#content-wrap h1 {
	color: white;
	margin-bottom: 25px;
}

#content-wrap .img-responsive {
	margin: 0 auto;
}

.header-title{
	margin-bottom: 25px;
}
.header-title span{
	border-bottom: 1px solid #451b55;
	padding-bottom: 3px;
	font-size: 20px;
}

/* Services Wrap */
#service {
	margin-top: 100px;
	margin-bottom: 80px;
}

#service i {
	color: #00b3fe;
	font-size: 60px;
	padding: 15px;
}

/* Portfolio Wrap */
#portfoliowrap {
	padding-top: 60px;
	margin-bottom: 60px;
	display: block;
	text-align: center
}

#portfoliowrap h3 {
	margin-bottom: 25px;
}

.portfolio {
	padding:0 !important;
	margin:0 !important;
	display:block;
}


.portfolio-item .title:before {border-radius:0; display:none}
.portfolio-item p {margin:0px 0 30px;}
.portfolio-item h3 {margin:-10px 0 10px; font-size:16px; text-transform:uppercase;}


.tpl6 h3
{
	color:#fff;
	margin:0;
	padding:40px 5px 0;
	font-size:16px;
	text-transform:uppercase;
}
.tpl6 .dmbutton
{
	display:inline-block;
	margin:30px 5px 20px 5px;
	font-size:13px;
}

.tpl6 .bg
{
	height:100%;
	width:100%;
	background-color:#00b3fe;
	background-color:rgba(0,179,254,.9);
	text-align:center;
}

/* Testimonials Wrap */
#twrap {
	background: url(../img/t-back.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top:60px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 450px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#twrap i {
	font-size: 50px;
	color: white;
	margin-bottom: 25px;
}

#twrap p {
	color: white;
	font-size: 15px;
	line-height: 30px;
}

/* clients logo */
#cwrap {
	background: #f7f7f7;
	margin-top: 0px;
	padding-top: 80px;
	padding-bottom: 100px;
}

#cwrap h3 {
	margin-bottom: 60px;
}

/* Footer */
#footerwrap {
	padding-top: 25px;
	padding-bottom: 10px;
	background: #451b55;
	background-image: url(../img/footer-background.png);
}

.nav.navbar-icon {
	list-style: none;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 10px;
}

.navbar-icon > a {
	color: #fff;
	padding: 0px 0px;
	margin-right: 10px;
}

.nav.navbar-footer {
	list-style: none;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 10px;
}

.nav.navbar-footer li {
	float: left;
}

.navbar-footer > li > a {
	color: #fff;
	font-family: lato;
  	font-weight: 400;
	font-size: 12px;
	padding: 0px 0px;
}

.navbar-right .navbar-footer > li > a:before {
	content: "|";
	color: #fff;
	margin-right: 15px;
	margin-left: 15px;
}

.navbar-right .navbar-footer > li:first-child > a:before {
	content: "";
	color: #fff;
	margin-right: 10px;
}

.navbar-right .navbar-footer > li > a:hover {
	text-decoration: underline;
	text-decoration-color: #fff;
	background-color: transparent;
}

.nav.navbar-footer-language {
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}

.nav.navbar-footer-language li {
	float: left;
}

.navbar-footer-language > li > a {
	color: #fff;
	font-family: lato;
  	font-weight: 300;
	font-size: 13px;
	padding: 0px 0px;
}

.navbar-right .navbar-footer-language > li > a:before {
	content: "|";
	color: #fff;
	margin-right: 5px;
	margin-left: 5px;
}

.navbar-right .navbar-footer-language > li:first-child > a:before {
	content: "";
	color: #fff;
	margin-right: 5px;
}

.navbar-right .navbar-footer-language > li > a:hover {
	text-decoration: underline;
	text-decoration-color: #fff;
	background-color: transparent;
}

.navbar-right .navbar-footer-language > li.active > a {
	color: #fff;
	font-family: lato;
	font-weight: 700;
}


/*	################################################################
	PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
	background: #00b3fe;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#blue h3 {
	color: white;
	margin-left: 15px;
}

.ctitle {
	color: #00b3fe;
	font-weight: 700;
	margin-bottom: 15px;
}

csmall {
	font-size: 12px;
	color: #b3b3b3;
}
csmall2 {
	font-size: 12px;
	color: #f39c12
}

.spacing {
	margin-top: 40px;
	margin-bottom: 40px;
}

.badge-theme {
	background: #00b3fe;
}

/* Contact Page */
#contactwrap {
	background: url(../img/contact.jpg) no-repeat center top;
	margin-top: -60px;
	padding-top:0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Blog Page */
.popular-posts { 
	margin: 0px;
	padding-left: 0px;
	}
	
.popular-posts li {
	list-style: none; 
	margin-bottom: 20px; 
	min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {
	color:#2f2f2f; 
	text-decoration: none;
	}
	
.popular-posts li img {
	float: left; 
	margin-right: 20px;
	}
	
.popular-posts li em {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #b3b3b3
	}

.popular-posts p {
	line-height: normal;
	margin-bottom: auto;
}	

.share i {
	padding-right: 15px;
	font-size: 18px;
}

.purple-line {
	border-bottom: 2px solid #7f3f98;
}

.text-copyright {
	margin-top: 15px;
	font-family: lato;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
}

.none-padding-right{
	padding-right: 0px;
}

.box-white{
	background: #fff;
	width: auto;
	min-height: 150px;
	padding: 20px;
	postion: relative;
}

.box-gray{
	background: #f3f3f3;
	width: auto;
	min-height: 150px;
	padding: 20px;
}

.box-gray-small{
	background-color: #f3f3f3;
	margin-top: 10px;
	height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.box-title{
	margin-bottom: 20px;
}

#top-up-form .form-control{
	padding: 10px 12px;
	border-radius: 0px;
	height: auto;
}

.table {
	margin-top: 20px;
	margin-bottom: 20px;
}

.table thead tr {
	text-align: center;
	color: #fff;
	background-color: #451b55;
	border: 1px solid #451b55;
}

.table tbody tr {
	text-align: center;
	color: #000;
	background-color: #fafafa;
}

.table tbody tr td {
	border: 1px solid #e0e0e0;
}

.pagination li a {
	color: #000;
}

.pagination > .active > a {
	color: #000;
	font-weight: 700;
	background-color: #fff;
	border: 1px solid #ddd;
}