body {
	background: url(../img/bg_amartha.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4 ,h5, h6, p, form, select, button,a {
	color: #FFF;
	font-family: 'Roboto';
}


a:hover, a:focus, a:active {
	color: #fff;
	box-shadow: none;
	outline: none;
}

.TitleSection {
	padding-top: 50px;
}

.TitleSection p {
	text-align: justify;
	font-weight: 300 ;
}

.TitleSection h3 {
	padding-top: 50px;
	/*padding-bottom: 50px;*/
}

.TitleSection h1 {
	padding-top: 20px;
	color: purple;
	font-weight: 700;
	font-size: 80px;

	/*text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; */

    text-shadow: 0 0 1px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 1px #000;
  -webkit-text-shadow: 0 0 1px #000;
}


.formSection {
	padding-top: 140px;
	background-color: rgba(255, 255, 255, 0.2);
	height: auto;
	padding-bottom: 20px;

}

.formSection h3 {
	padding-bottom: 20px;
	color: purple;
}

.formSection form p {
	font-size: 13px;
	font-weight: 300;
}

.formSection form .form-group input,
.formSection form .form-group select{
	height: 50px;
	background: none;
	border: 1px solid purple;
	background-color: rgba(255, 255, 255, 0.9);

}

.formSection form button.btn-submit {
	background: none;
	text-shadow: none;
	border: none;

	width: 100%;
	height: 50px;

	background-color: purple;
	color: #fff;
}

@media only screen and (min-width: 990px){
	body {
		/*overflow: hidden;*/
	}
}

@media only screen and (max-width: 990px){
	.formSection {
		height: auto;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.formSection .row div:last-child {
		margin-top: 20px;
	}
}

#test-popup{
	/*display: none;*/
}


.white-popup {
  position: relative;
  background: #FFF;
  padding: 50px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
  color: #181818;
}

.white-popup h3,
.white-popup p
 {
	color: #000;
}

.white-popup ul li {
	padding-top: 10px;
	list-style-type: circle;
}



