.dataTables_length,.dataTables_info{
	float: left;
	width: 300px
}
.dataTables_paginate a{
	padding: 0 10px;
}
.dataTables_paginate a:hover{
	cursor: pointer;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td{
	vertical-align: middle;
}

.photo_thumbnail{
	height: 200px;
	margin: 5px;
}

.nav-brand{
	font-size: 14pt;
}